<div class="accordion" id="{{ id }}">
  {% for item in items %}
  {% if item %}
  <div class="accordion-item mb-3">
    <h3 class="accordion-header" id="{{ id }}-h{{ forloop.counter }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-p{{ forloop.counter }}" aria-expanded="false" aria-controls="{{ id }}-p{{ forloop.counter }}">
        {% if item.title %}{{ item.title }}{% else %}{{ prefix|default:"Item" }} {{ forloop.counter }}{% endif %}
      </button>
    </h3>
    <div id="{{ id }}-p{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="{{ id }}-h{{ forloop.counter }}" data-bs-parent="#{{ id }}">
      <div class="accordion-body">
        {% if item.content %}{{ item.content|safe }}{% else %}{{ item|safe }}{% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
