{% extends 'accounts/base.html' %}
{% load components %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if article.image %}
              {% card 
                card_class='border-0 shadow-sm' 
                image_url=article.image.url 
                image_alt=article.title 
                body_class='p-4' 
                title=article.title 
                text=None 
                meta_left_text=article.author.username 
                meta_left_icon_class='bi bi-person-circle' 
                meta_right_text=article.created_at|date:"M d, Y" 
                meta_right_icon_class='bi bi-calendar3' 
                body_html=article.content|safe %}
            {% else %}
              {% card 
                card_class='border-0 shadow-sm' 
                body_class='p-4' 
                title=article.title 
                text=None 
                meta_left_text=article.author.username 
                meta_left_icon_class='bi bi-person-circle' 
                meta_right_text=article.created_at|date:"M d, Y" 
                meta_right_icon_class='bi bi-calendar3' 
                body_html=article.content|safe %}
            {% endif %}

            <div class="mt-5 p-4 bg-light rounded">
                <h5>About the Author</h5>
                <p class="mb-0">This article was contributed by a verified member of the Nigerian Academy of Audiology.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
