{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Submit Professional Article - NAA{% endblock %}

{% block content %}
<div class="container mt-5 pt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            {% include 'accounts/partials/card.html' with 
                card_class='shadow-sm border-0' 
                header_html='<i class="bi bi-pencil-square me-2"></i>Submit Article for NAA Journal' 
                header_class='bg-primary text-white py-3' 
                body_class='p-4' 
                body_partial='accounts/partials/articles/submit_article_form.html' %}
        </div>
    </div>
</div>

{{ form.media }}
{% endblock %}
