{% autoescape off %}
Hi {{ user.get_username }},

You're receiving this email because you requested a password reset for your member account at the Nigerian Academy of Audiology (NAA) Portal.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't make this request, you can safely ignore this email. Your password won't change until you access the link above and create a new one.

Best regards,
The NAA Portal Team
{% endautoescape %}
